<% layout('layouts/boilerplate') %>

    <div class="row my-3">
        <h1 class="text-center">Edit <%=campground.title%></h1>
        <div class="col-md-6 offset-3">
            <form novalidate enctype="multipart/form-data" class="validate-form" method="POST" action="/campgrounds/<%=campground._id%>?_method=PUT">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input required value="<%=campground.title%>" placeholder="Campground Title" type="text" class="form-control" id="title" name="campground[title]" aria-describedby="titleOfCampground">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input required value="<%=campground.location%>" placeholder="City, State" type="text" class="form-control" id="location" name="campground[location]" aria-describedby="locationOfCampground">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="imageUrl" class="form-label">Add images</label>
                    <input multiple type="file" class="form-control" id="image" name="image" aria-describedby="imagesForCampground">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <label for="price" class="form-label">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input required value="<%=campground.price%>" id="price" type="text" class="form-control" placeholder="0.00" aria-label="price" name="campground[price]" aria-describedby="price">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea required id="description" placeholder="Campground Description" class="form-control" name="campground[description]" aria-label="Campground Description"><%=campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach((img, i) => {%>
                    <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="" crossorigin="anonymous">
                    <div>
                        <input class="form-check-inline" value="<%= img.filename %>" type="checkbox" name="deleteImages[]" id="image-<%= i %>">
                        <label for="image-<%= i %>">Delete?</label>
                    </div>
                    <% }) %>
                </div>
                <button type="submit" class="btn btn-info">Update Campground</button>
                <a class="btn btn-secondary" href="/campgrounds/<%= campground._id %>">Cancel</a>
            </form>
        </div>
    </div>