<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css"></link>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card mb-3 mt-4">
                <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% campground.images.forEach((img, i) =>{ %>
                        <div class="carousel-item active">
                            <img src="<%= img.url %>" class="d-block w-100 <%= i === 0 ? 'active' : '' %>" alt="" crossorigin="anonymous" />
                        </div>
                        <% }) %>
                        
                    </div>
                    <% if (campground.images.length > 1) { %>
                        <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    <% } %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <% if (campground.reviews.length > 0) { %>
                    <div class="card-subtitle d-flex align-items-center">
                        <% const MAX_RATING = 5 %>
                        <% let countFullStars = Math.floor(campground.averageRating) %>
                        <% const haveHalfStar = campground.averageRating % countFullStars > 0.3 && campground.averageRating % countFullStars < 0.7 %>
                        <% const roundToFullStar = campground.averageRating % countFullStars >= 0.7 %>
                        <div>
                            <% for(let i = 0; i < countFullStars; i++) { %>
                                <!-- <img src="http://res.cloudinary.com/dajdyiuip/image/upload/v1667611186/YelpCamp/svgs/fullStar_qqruqr.svg" /> -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="#fbc02d" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            <% } %>
                            
                            <% if (haveHalfStar) { %>
                                <!-- <img src="http://res.cloudinary.com/dajdyiuip/image/upload/v1667611186/YelpCamp/svgs/halfFullStar_und7i6.svg" /> -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="#fbc02d" class="bi bi-star-half" viewBox="0 0 16 16">
                                    <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                                </svg>
                                <% countFullStars++ %>
                            <% } %>
                                
                            <% if (roundToFullStar) { %>
                                <!-- <img src="http://res.cloudinary.com/dajdyiuip/image/upload/v1667611186/YelpCamp/svgs/fullStar_qqruqr.svg" /> -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="#fbc02d" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <% countFullStars++ %>
                            <% } %>
                                    
                            <% for(let i = countFullStars; i < MAX_RATING; i++) { %>
                                <!-- <img src="http://res.cloudinary.com/dajdyiuip/image/upload/v1667611186/YelpCamp/svgs/emptyStar_oyfgks.svg" /> -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="#fbc02d" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            <% } %>
                        </div>    
                        
                        <span class="d-flex mt-auto ms-1 text-muted"> <%= campground.averageRating.toFixed(1) %> (<%= campground.reviews.length %> reviews)</span>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                        </svg> -->
                    </div>
                    
                    <% } %>
                    <p class="card-text"><%= campground.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted"><%= campground.location %></li>
                    <a href="/user/<%= campground.author._id %>"><li class="list-group-item">Submitted by: <%= campground.author.username %></li></a>
                    <li class="list-group-item">$<%= campground.price %>/night</li>
                </ul>
                <% if (currentUser && campground.author._id.equals(currentUser._id)) { %>
                <div class="card-body">
                    <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger" type="submit">Delete Camp</button>
                    </form>
                </div>
                <% } %>
                <div class="card-footer text-muted">2 days ago</div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mb-3 mt-4" id="map"></div>
            <%- currentUser ? '<h4 class="mt-2 mb-1">Leave a Review</h4>' : '' %>
            <form class="mb-3 validate-form" action="/campgrounds/<%= campground._id %>/reviews" method="POST" novalidate>
            <% if (currentUser) { %>
                <div class="mb-1">
                    <fieldset class="starability-basic">
                        <!-- <legend>First rating:</legend> -->
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" checked name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div class="mb-2">
                    <div class="form-floating">
                        <textarea style="height: 6rem" name="review[body]" class="form-control" id="body" required></textarea>
                        <label class="form-label" for="body">Your review text:</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>                    
            <% } %>
                <%- currentUser ? '<button class="btn btn-success">Submit</button>' : '<button class="btn btn-sm btn-warning w-100">Log in to leave a review</button>' %>
            </form>

            <div class="mb-3">
                <% for(const review of campground.reviews) { %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h6><%= review.author.username %></h6>
                            <p class="starability-result" data-rating="<%= review.rating %>">
                                Rated: <%= review.rating %> stars
                            </p>
                            <h6 class="card-subtitle">By: <%= review.author.username%></h6>
                            <p class="card-text">Review: <%= review.body%></p>
                            <% if(currentUser && review.author._id.equals(currentUser._id)) { %>
                                <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    
    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        const campgroundStringified = '<%- JSON.stringify(campground) %>';
    </script>
    
    <script src="/javascripts/showPageMap.js"></script>