<% layout('layouts/boilerplate') %>
    <div class="row mt-4">
            <div class="d-flex align-items-end mb-1">
                <img style="width: 10rem; height: 10rem" class="me-1" id="showUserImage" crossorigin="anonymous" src="<%= user.image ? user.image.url : 'https://res.cloudinary.com/dajdyiuip/image/upload/v1667840368/YelpCamp/users/defaultUser_nylqtn.svg' %>" alt="">
                <div class="mb-2">
                    <h3 class="mb-1"><%= user.username %></h3>
                    <h6 class="my-0 text-secondary"><%= reviewsCountByUser %> reviews</h6>
                    <h6 class="my-0 text-secondary"><%= usersCamps.length %> campgrounds</h6>
                </div>
            </div>
            
            <div class="profile-bottom-border mb-2"></div>
            
            <div class="col">
                <ul class="nav nav-tabs nav-justified mb-1">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Campgrounds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews</a>
                    </li>
                </ul>    
                <% for(const camp of usersCamps) { %>
                    <div class="card mb-3">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-5">
                                <img src="<%= camp.images.length ? camp.images[0].url : 'https://res.cloudinary.com/dajdyiuip/image/upload/v1666285366/YelpCamp/eppcarabpagkxw3brnbn.jpg' %>" alt="" class="img-fluid" crossorigin>
                            </div>
                            <div class="col-md-6 col-lg-7">
                                <div class="card-body">
                                    <h5 class="card-title"><%= camp.title %></h5>
                                    <p class="card-text"><%= camp.description %></p>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 col-lg-5 col-xl-12 mb-1">
                                            <p class="card-text"><small class="text-muted"><%= camp.location %></small></p>
                                        </div>
                                        <div class="col-12 col-lg-7 col-xl-12">
                                            <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">View <%= camp.title %></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <p><%= usersReviews %></p> 
            <p class="bg-primary"><%= usersReviews[1].campground && usersReviews[1].campground.images %></p> 
            <p class="bg-warning"><%= usersReviews[1].campground && usersReviews[1].campground.images[0].thumbnail %></p> 
    </div>

    